* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    background-color: white;
}

button:hover {
    background-color: aqua;
}

canvas {
    border: 1px solid lightgrey;
}

.settings_block {
    padding-top: 1rem;
}

.settings_name {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}